{{ partial "head" . }}
    <body id="top">
        {{ partial "header" . }}

        {{ "<!-- Main -->" | safeHTML }}
        <div id="main">
            <section>
                <h1>Page not found</h1>

                <p>Uh-oh, you seem to have taken a wrong turn! It looks like this was the result of either:

                <ul>
                    <li>a mistyped URL, or a copy-and-paste mistake</li>
                    <li>a broken link on a web pages or in an email</li>
                    <li>moved or deleted content</li>
                </ul>

                I suggest that you head to my <a href="{{ .Site.BaseURL }}">Home</a>     page from here.</p>
            </section>
        </div>

        {{ partial "footer" . }}
    </body>
</html>
